.photo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 118px 53px 92px 43px;
    gap: 16px 16px;
}

.photo__grid{
    width: 100%;
}

@media screen and (max-width: 768px){
    .photo{
        grid-template-columns: 1fr 1fr;

}

@media screen and (max-width: 320px){
    .photo{
        grid-template-columns: 1fr;

    }

}
}